boto3==1.16.43
botocore==1.19.43
jmespath==0.10.0
python-dateutil==2.8.1
s3transfer==0.3.3
six==1.15.0
urllib3==1.26.2

requests~=2.26.0
pip~=20.3.3
certifi~=2021.5.30
setuptools~=51.1.0

aws-lambda-powertools==1.22.0